@import "tailwindcss";

/* Prevent horizontal scrolling globally */
html, body {
  overflow-x: hidden;
  max-width: 100vw;
}

/* clerk user button adjust*/
.cl-avatarBox {
    width: 3rem;
    height: 3rem;
}

/* carousel arrow */
.arrows {
    height: 40px;
    width: 40px;
    margin: 1px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.arrows:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

/* input color */
input {
  background-color: #fff;
  accent-color: red;
  border: 1px solid #ccc;
  color: #333;
}


